.logo{
width: auto;
}

.registerloginButton{
    margin: 10px;
    background-color: rgb(230, 22, 36);
    border: black;
    }

.registerloginButton:hover{
    background-color:  rgb(230, 22, 36);
    border: black;
}

.firstRow {
    border-radius: 25px;
    height: auto;
    background-image: url("../images/burgerBackgroundSlim.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 5% 5% 5% 5%;
}

.secondRow {
    border-radius: 25px;
    height: auto;
    background-image: url("../images/secondRowImageSlim.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 5% 5% 5% 5%;
}

.homePageCard {
    border-radius: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0px 0px 10px 5px;
}