.logo{
padding:50px;
width: 350px;
}

.registerloginButton{
    margin: 10px;
    background-color: rgb(230, 22, 36);
    border: black;
    }

.registerloginButton:hover{
background-color:  rgb(230, 22, 36);
border: black;
}