.search {
    border-radius: 25px;
    height: auto;
    margin-bottom: 4em;
    /* margin: 5% 5% 5% 5%; */
}

.searchButton {
    background-color: rgb(230, 22, 36);
    border: 0;
    margin: auto;
}

.searchButton:hover {
    background-color: red;
}

.searchButton:active {
    background-color: red;
    
}

.searchButton:visited {
    background-color: red;
}