.teamMemberCardTitle {
    text-transform: uppercase !important;
    font-size: 2.5rem;
    border-bottom: 3px solid black;
}

.temMemberCard {
    /* border: 0 !important; */
}

.teamNameTeamPage {
    text-transform: uppercase;
    font-size: 2.5rem;
}

.memberList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.memberListItem {
    display: flex;
    font-size: 1.5rem;
}

.joinButton {
}

.fightCardBody {
    border: 2px solid black;
}

.restaurantCardBody {
    border: 2px solid black;
    margin-bottom: .5em;
}

.restaurantName {
    margin: 2px;
}