.teamMemberCard {
    border-radius: 25px;
}

.teamMemberCardTitle {
    text-transform: uppercase !important;
    font-size: 2.5rem;
    border-bottom: 3px solid black;
}

.teamMemberCardTitleDark {
    text-transform: uppercase !important;
    font-size: 2.5rem;
    border-bottom: 3px solid white;
}

.teamNameTeamPage {
    text-transform: uppercase;
    font-size: 2.5rem;
}

.memberList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.memberListItem {
    display: flex;
    font-size: 1.5rem;
}

.joinButton {
}

.teamPageCardBody {
    margin: 5% 15% 5% 15%;
    background: white;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 5px;
}

.restaurantName {
    margin: 2px;
}


.teamPageCard {
    border-radius: 25px;
    background-image: url("../images/teamPageRestCard.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.teamPageCardTitle {
    margin: 5% auto 3% auto;
    color: rgb(0, 0, 0);
    margin-top: 5%;
    background: rgba(255, 255, 255, 0.4);
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.4);
}

.teamPageCardSubtitle {
    margin: auto auto 3% auto;
    color: rgb(0, 0, 0);
    margin-top: 5%;
    background: rgba(255, 255, 255, 0.4);
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.4);
}

.teamPageWinnerTitle {
    margin: 5% auto 3% auto;
    color: rgb(230, 220, 36);
    margin-top: 5%;
    background: rgba(255, 255, 255, 0.4);
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.4);
    font-weight: bolder;
}